# Project
dist/
coverage/
typechain/

# IDE
.idea
.vscode

# OS
.DS_Store

# NODE
node_modules/
npm-debug.log
package.json.lerna_backup
package-lock.json
yarn.lock
/lerna-debug.log
/report.*.json

node_modules
.env

#Hardhat files
cache
artifacts
