/scripts
/tasks
/test
/coverage
/artifacts
/cache
/besu
/@types
/.openzeppelin

DOCKER.md
HARDHAT.md
LINKS.md

renovate.json
hardhat.config.ts
tsconfig.json
tsconfig.test.json
coverage.json

.idea
.vscode
.github
.dockerignore
.editorconfig
.env
.eslintignore
.eslintrc
.huskyrc
.lintstagedrc
.prettierrc
.solhint.json

contracts/ERC998
