/scripts
/tasks
/test
/coverage
/artifacts
/cache
/besu
/@types
/.openzeppelin
/contracts
/typechain-types

CUSTOM/

DOCKER.md
HARDHAT.md
LINKS.md

renovate.json
hardhat.config.ts
tsconfig.json
tsconfig.test.json
coverage.json
docker-compose.yml
gen-besu.json
Dockerfile

.nvmrc
.idea
.vscode
.github
.dockerignore
.editorconfig
.env
.eslintignore
.eslintrc
.huskyrc
.lintstagedrc
.prettierrc
.solhint.json

/ERC998
